# IDEs and editors
.vscode/
.idea/
*.iml

# Build and build artifacts
target/
**/target/
*.class
**/*.class
*.log
**/*.log
.mvn/wrapper/maven-wrapper.jar
**/.mvn/wrapper/maven-wrapper.jar

# OS files
.DS_Store
**/.DS_Store
